
p {
	border-bottom: 2px solid black;
	margin-top: -10px;
}


.relative {
	position: relative;

	background: lightblue;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

}

.absolute {
	position: absolute;

	background: orange;

	top: 100px;
	bottom: 10px;
	left: 10px;
	right: 10px;
}

/* This overwrites the CSS writting above! */
p {
	border-bottom: 2px solid white;
	margin-top: 20px;
}


i {

	position: absolute;

	top: 10px;
	right: 10px;

	background: red;
	color: white;

	text-align: center;
	line-height: 30px;

	width: 30px;
	height: 30px;

	z-index: 1;

	border-radius: 15px;

}